<div class="wishlist-inspire__icon" x-data="wishlist">
  <button type="button" @click.debounce="addToWishlist()" class="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#000"
      :fill="wishlisted ? '#000':'#fff'"
      class="wishlist-inspire__icon--svg"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
    </svg>
    {% if block.settings.text != blank %}
      <span class="wishlist-inspire__icon--text">{{ block.settings.text }}</span>
    {% endif %}
  </button>
</div>

<script defer src="//unpkg.com/alpinejs"></script>
<script>
  document.addEventListener('alpine:init', () => {
      Alpine.data('wishlist', () => ({
          init(){
            console.log("aksnfdlaskjfnsalk");
            console.log(this.appUrl+"api/wishlist"+"?customerId={{ customer.id }}&productId={{ product.id }}&shop={{ shop.permanent_domain }}");
            fetch(this.appUrl+"api/wishlist"+"?customerId={{ customer.id }}&productId={{ product.id }}&shop={{ shop.permanent_domain }}")
              .then(result => {
                  console.log("result", result);
                  return result;
              })
              .catch(error => console.log("error dsa", error.message))
          },
          wishlisted: false,
          appUrl: "https://fujitsu-reservations-tu-distances.trycloudflare.co/",
          addToWishlist() {

              this.wishlisted = ! this.wishlisted
              //TODO: send to db
              {%  unless customer %}
                alert('Please login to add to wishlist');
                return;
              {% endunless %}
              console.log('this.wishlisted', this.wishlisted);
              console.log(' customer.id ', {{ customer.id }})
              var formdata = new FormData();
              formdata.append("customerId", {{ customer.id }});
              formdata.append("productId", {{product.id}});
              formdata.append("shop", {{ shop.permanent_domain  }});
              formdata.append("_action", "CREATE");

              if(this.wishlisted){
                this.wishlisted = false;
                formdata.set("_action", "DELETE");
              }

              var requestOptions = {
                method: 'POST',
                body: formdata,
                redirect: 'follow'
              };

              console.log('requestOptions', requestOptions)

              fetch(this.appUrl+"api/wishlist", requestOptions)
                .then(response => response.text())
                .then(result => {
                  this.wishlisted = !this.wishlisted
                })
                .catch(error => console.log('error123', error));
          }
      }));
  })
</script>

<style>
  .wishlist-inspire__icon {
    display: flex;
    justify-content: center;
    max-width: 44 rem;
  }
  .wishlist-inspire__icon__icon button {
    margin: 0;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>

{% schema %}
{
  "name": "Wishlist icon",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "text", "id": "text", "label": "Text", "default": "Add to wishlist" },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#9D6969" }
  ]
}
{% endschema %}
